@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Maven+Pro&display=swap');



.mybutton7s{
  margin-top: 12%;
  margin-left: 55%;
  background-color: #446b5b;
  border-color:white;
  color:white;
  border-radius: 15px;
  font-family: 'Lato', sans-serif;
  min-width: 220px;
  margin-bottom: 5%;
  padding: 0.5%;
  
  }
  
  .bg2 {
  
   
    background-repeat: no-repeat;
    background-position:top;
    height: 540px;
    background-position: left;
    background-size:cover;
    z-index: -1;
    

    
  
  }
  @media only screen and (max-width: 450px) {
    .mybutton7s{
      margin-top: 18%;
      margin-left: 7%;
      background-color: #446b5b;
      border-color:white;
      color:white;
      border-radius: 15px;
      font-family: 'Lato', sans-serif;
      min-width: 120px;
      margin-bottom: 5%;
      padding: 0.3%;
      font-size: small;
      
      }
      .bg2 {
  
   
        background-repeat: no-repeat;
   
       

        background-size:100%;
        height: 120px;
        max-width:680px;
        
    
        
      
      }
  }



